# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg

downloads/

# Jupyter Notebook
.ipynb_checkpoints

# GIS
*.tif
*.tiff
*.las
*.laz
*.ply
*.gpkg
*.aux.xml
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.qpj

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Virtual environment
.env/
.venv/

# Test output
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Lidar data
*.las
*.laz

# Others
*.sqlite3
*.db
*.bak
*.tmp
*.swp
*.swo